/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: hsl(239, 66%, 55%);
  --second-color: hsl(239, 66%, 55%);
  --text-color: #444;
  --gradient: linear-gradient hsl(239, 66%, 55%);
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
section {
  padding: 50px 100px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin-left: 200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px; /* Adjust this value if needed */
  margin-right: 10px;
}

.logo h4 {
  color: #1e74e8;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  position: relative; /* Add this line to position the ::after pseudo-element */
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: block; /* Make the link fill the li container */
  padding: 10px; /* Optional: Adjust for spacing around links */
}

.menu li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.menu li:hover::after {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 15px;
}

.sign-in {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.sign-up {
  background-color: #1e74e8;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url(img/Car\ Website\ –\ 1@2x.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.text span {
  color: var(--main-color);
}
.text p {
  margin: 0.5rem 0 1rem;
}
.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
}
.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}
.input-box span {
  font-weight: 500;
}
.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: hsl(239, 66%, 55%);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.form-container form .btn:hover {
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading span {
  font-weight: 500;
  text-transform: uppercase;
}
.heading h1 {
  font-size: 2rem;
}
.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.ride-container .box {
  text-align: center;
  padding: 20px;
}
.ride-container .box .bx {
  font-size: 34px;
  padding: 10px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: var(--main-color);
}
.ride-container .box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover,
.ride-container .box .bxs-calendar-check {
  background: var(--gradient);
  color: #fff;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.services-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.services-container .box .box-img {
  width: 100%;
  height: 200px;
}
.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transform: 400ms;
}
.services-container .box .box-img img:hover{
  transform: scale(1.03);
}
.services-container .box p {
  padding: 0 10px;
  border: 1px solid var(--text-color);
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}
.services-container .box h3 {
  font-weight: 500;
}
.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}
.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: hsl(239, 66%, 55%);
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  transform: 400ms;
}
.services-container .box .btn:hover {
  background: var(--main-color);
  transform: scale(1.03);
}
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.about-img img {
  width: 100%;
}
.about-text span {
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}
.about-text p {
  margin: 0.5rem 0 1.4rem;
}
.about-text .btn {
  padding: 10px 20px;
  background: hsl(239, 66%, 55%);
  color: #fff;
  border-radius: 0.5rem;
}
.about-text .btn:hover {
  background: var(--main-color);
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.rev-img {
  width: 70px;
  height: 70px;
}
.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}
.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.reviews-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p {
  font-style: italic;
}
.reviews-container .box .stars .bx {
  color: var(--main-color);
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 40px;
  }
  section {
    padding: 50px 40px;
  }
}
@media (max-width: 881px) {
  .home {
    background-position: left;
  }
  .form-container form {
    bottom: 0.2rem;
    left: 40px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 40px;
  }
  #menu-icon {
    display: initial;
  }
  .sign-up {
    display: none;
  }
  .text h1 {
    font-size: 2.5rem;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .form-container form {
    position: unset;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }
  .navbar a:hover {
    color: #fff;
    background: var(--main-color);
    border: none;
  }
  .navbar a::after {
    display: none;
  }
  .heading span {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .heading h1 {
    font-size: 1.3rem;
  }
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    padding: 1rem;
    order: 2;
  }
}
@media (max-width: 568px) {
  .copyright {
    flex-direction: column;
  }
  .newsletter .box {
    width: 284px;
  }
  .form-container {
    padding-top: 2rem;
  }
}
@media (max-width: 350px) {
  header {
    padding: 4px 14px;
  }
  .logo img {
    width: 30px;
  }
  section {
    padding: 50px 14px;
  }
  .header-btn .sign-in {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .text h1 {
    font-size: 2rem;
  }

  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(254px, auto));
  }
}

/* footer */
footer{
  background-color: #051C34;
  color: #fff;
}
.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  margin-right: 5px;
}
.footer-container{
  color: #ffffff;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid #1e2e3d;
}
.footer-content{
 max-width: 250px;
}
.footer-content h3{
  margin-top: 0;
  font-size: 1.2em;
  margin-bottom: 20px;
  color:  #D3C6E2;
}
.footer-content p, .footer-content a, .footer-content li{
  color: #c1c7d0;
  font-size: 0.95em;
  line-height: 1.6;
  text-decoration: none;
}
.footer-content a:hover{
  color: #ffffff;
}
.footer-content ul{
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}
.footer-content a{
  display: inline-block;
  margin-right: 10px;
  color: #c1c7d0;
  font-size: 1.2em;
  transition: color 0.3s;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a{
  color: red;
}
.dropdown:hover .dropdown-content{
  display: block;
}


